.tab {
    display: flex;
    justify-content: center;
    height: 6%;

    a {
        box-sizing: border-box;
        padding: 10px;
        cursor: pointer;
        flex-grow: 1;

        font-size: large;
        font-weight: bold;
        text-align: center;

        &:hover {
            color: var(--color-shine); // 他原本的这个蓝特别鲜艳好看
        }
    }
    
    a.tab-item-active  {
        &:hover {
            color: var(--color-shine); // 他原本的这个蓝特别鲜艳好看
        }
        color: var(--color-active);
    }
}

.tab-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height: 94%;
}