ul {
    width: inherit;
    padding-inline-start: 2rem;

    cursor: pointer;

    li {
        width: inherit;
        &:hover {
            background-color: blue;
        }
    }
}

.tree-view-container {
    // background-color: darkblue;
    width: 100%;
    height: 100%;
    overflow: scroll;

    &::-webkit-scrollbar {
        width: 12px;
        /* 纵向滚动条的宽度 */
        height: 12px;
        /* 横向滚动条的高度 */

        border-radius: 16px;
        background-color: #f5f5f5;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }

    &::-webkit-scrollbar-thumb {
        background-color: #c1c1c1;
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }

    &::-webkit-resizer {
        background-color: red;
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}

.FSTreeMask {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.FSTreeMaskDisabled {
    display: none;
}