.list {
    .item {
        text-wrap: nowrap;
        cursor: grab !important;

        &.active {
            background-color: var(--color-active);
        }
    }
}

.block {
    min-height: 250px;
    max-height: 800px;
}