.list {
    .item {
        &.active {
            background-color: var(--color-active);
        }
        &.editing {
            border: unset;
            background-color: var(--color-dark);
            
            button {
                border-radius: var(--radius-border);
                background-color: inherit;
            }
            input {
                color: inherit;
                flex-grow: 1;
            }
        }
    }
}