// :root {
//     --deep-dark: #0f0f0f;
//     --dark: #1e1e1e;
//     --light-dark: #363636;
// }

.row {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #1e1e1e;

    --border-radius-general: 8px;

    .col {
        height: inherit;
        padding: 12px;
        width: var(--col-width);
        display: flex;
        flex-direction: column;

        .list {
            overflow: scroll;
            flex-grow: 1; // fill the space if items are less than the height

            border-radius: var(--border-radius-general);
            background-color: #363636;

            &::-webkit-scrollbar {
                width: 0;
            }

            .var-item {
                padding: 8px;
                border-radius: var(--border-radius-general);
                transition: border-color 0.25s;
                border: 3px solid transparent;
                cursor: pointer;

                &:hover {
                    border-color: #396cd8;
                }
            }

            .active {
                background-color: #396cd8;
            }

            .value-item,
            .value-item-editing {
                width: 100%;
                cursor: pointer;
            }

            .value-item {
                padding: var(--border-radius-general);
                border-radius: var(--border-radius-general);
                transition: border-color 0.25s;
                border: 3px solid transparent;

                &:hover {
                    border-color: #396cd8;
                }
            }

            .value-item-editing {
                color: white;
                display: flex;

                input {
                    flex-grow: 1;
                }
            }
        }
    }
}


button {
    transition: border-color 0.25s;
    border: 3px solid transparent;

    &:hover {
        border-color: #396cd8;
    }
}

.btn-group {
    display: flex;
    justify-content: space-between;

    button {
        flex-grow: 1;
    }

    button:first-child {
        border-top-left-radius: var(--border-radius-general);
        /* 左上角圆角 */
        border-top-right-radius: 0;
        /* 右上角方形 */
        border-bottom-right-radius: 0;
        /* 右下角方形 */
        border-bottom-left-radius: var(--border-radius-general);
        /* 左下角圆角 */
    }

    button:last-child {
        border-top-left-radius: 0;
        /* 左上角圆角 */
        border-top-right-radius: var(--border-radius-general);
        /* 右上角方形 */
        border-bottom-right-radius: var(--border-radius-general);
        /* 右下角方形 */
        border-bottom-left-radius: 0;
        /* 左下角圆角 */
    }
}