.row {
    display: flex;
    justify-content: center;
}

.col30 {
    width: 30%;
}

.col70 {
    width: 70%;
}

.col30 > .env-var-list {
    text-align: left;
}

.col70 > .env-var-list {
    text-align: left;
    height: 70%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.col70 > .console {
    text-align: left;
    background-color: black;
}