.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;

    display: flex;
    justify-content: center;
    align-items: center;

    .modal-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);;
    }

    .modal-content {
        background-color: #363636;
        padding: 1rem;
        border-radius: 0.5rem;
        box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.15);
        max-width: 90%;
        max-height: 90%;
        position: relative;
        z-index: 1;

        .modal-title {
            font-weight: bold;
        }
    }

    .modal-close {
        top: 8px;
        right: 8px;
        font-size: 2rem;
        font-weight: bold;
        color: #aaa;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .modal-close:hover {
        color: #000;
    }
}